@media (max-width: 768px) {
    /* 레이아웃 */
    .header-wrap{flex-direction: column; width: 100%; }
    .header-wrap.active{background-color:#3e8685; color:#eee ; top:0;left:0; width:100%; position:absolute;}
    #header_01{flex-direction: column; display: none; margin: 0%; align-items: center; }
    #header_01.active{display: flex;}
    #header_01 li{margin-right:0; margin-top: 2%;}    
    #header_02{flex-direction: column; display: none; margin: 0%; align-items: center; padding:0%}
    #header_02.active{display: flex;}
    #header_02 li{margin:0%;margin-top: 2%;}
    .mobil_menu_icon{display: block; right: 32px; position: absolute; font-size: 35px; color:#383736 ;}
    .logo{width:100%;margin-top: 2%;text-align: center;}
    .logo a{background-image: url("LOGO.png");}
    #section_title{width:100%; margin-top: 2%;}
    #section-contents-wrap{width: 100%;}
    #section_contents{margin: 0% 5% 0% 5%;min-height: 500px;}
    #section-title-text {margin: 0% 5% 0% 5%; font-size: 1.5rem;}
    .footer{ padding-top: 10%; }

    /* 아이디찾기-실패 */
    #nofoundid{font-size: 14px;  text-align: center;}

    /* 아이디찾기-성공 */
    .show-id{width: 100%; padding: 0; justify-content: center; font-size: 14px;}
    .sign-btn{width:100%; margin: 0% 5% 0% 5%;}
    .fid-btn{width: 100%; margin: 0% 5% 0% 5%;}
    .btn-set{width:100%; justify-content:space-between ;}

    /* 아이디찾기 */
    #box{width:90%; padding-bottom: 10%;}
    #box-div-text{margin-top:0%}
    #box-name{padding-top:4%;padding-bottom: 4%; }
    .input{margin:0 auto;}
    .date{width:30%;text-align: center;}
    .news-view-info-box{width:100%; margin-top:2%}
    .news-view-pic img{width:100%; height: 200px;}

    /* 글쓰기버튼 */
    .write-btn-set {width: 100%; margin-top:2%}
    .reset-btn{width:30%}
    .save-btn{width:30%}

    /* 뉴스메인 */
    .news_set_box{width:100%; margin-top: 10%;}
    .category{width: 100%;}    
    .more-btn{width: 40%;}
    
    /* 밋업메인 */
    .meetup-line{width: 90%; margin:0 auto;}
    .category{font-size: 14px;}
    .month{font-size: 15px; margin: 1% 5% 1% 5%; flex-wrap: wrap;}
    .month li {width:16%; text-align: center;}

    /* 회원탈퇴 */
    section p.delete-title {font-size: 1.5rem; }
    section p.delete-content {font-size: 0.9rem; font-weight: 600;}

    /* 회원가입 */
    section #join_form span {font-size: 1rem;}
    #join_form input[type="text"] {padding:0.5rem;}
    #join_form .chk-group {line-height: 1rem;}
    #join_form input[type="radio"],#join_form input[type="checkbox"] {width: 5%;}
    .btn.btn-confirm {margin-left: 0;}
    section .agreeform-wrap p.title {font-size:1rem;}
    #join_form .agreeform-chk-wrap {float:none; margin-left:45%;}
    

    /* 뉴스상세보기 */
    .news_edit{text-align: center; margin-top:7%; margin-bottom: 7%;}
    .tolist-btn-input{background-color:  #3e8685; color:#f2ebe5; border:none; margin-top: 10%; padding:1%;}
    
    /* 메인 */
    .main_news_set_box{width:100%; margin-top: 10%;}        
    .complete-btn-wrap input{width: 40%;}
    .board-wrap th{font-size: 0.7rem;}
   
    /* 공지사항-관리자 */
    section .join {width:40%;}

   /* 회원정보 수정 */
   .btncustom.update-btn.float--right {margin: 0 10px 10px 0;}
   .btncustom.delete-btn.float--right {margin: 0 10px 10px 0;}
    #widthdrawl {margin-top:-21%; background-color:#a9daaa;}
   .complete-btn-wrap input[type="submit"] {width: 40%;}
   .btn.btn-confirm {margin-left: 5%;}

   /* 게시판 목록 */
   .page_nation a:nth-child(5), .page_nation a:nth-child(6) {display:none;}
   .page_wrap {margin:0 auto;}
   .ctgr {width:3.5rem; height: 2rem;}
}