@charset "UTF-8"; 
/* layout.css */
/* 레이아웃 */
.header-wrap{ display: flex; width: 1279px; font-size: 2rem; margin:0 auto; font-family: 'Varela Round'; position: sticky; top:0;}  
.logo{float: left; width: 4.5%; margin-top: 3%;}
#header_01{display: flex; flex:2; margin-top: 3%; margin-left:5.5%; }
#header_01 li{margin-right: 5%;}
#header_02{ display:flex; flex:1; margin:3%; margin-left: auto; justify-content:flex-end;}
#header_02 li{margin-left:10%;}
.header_01_a{list-style: none; flex: 1;}
.header_02_a{list-style: none; }
footer{min-height: 15%; background-color: #383736; color: #f2ebe5; text-align: center; margin-top: 2%;}
.footer{width: 100%; padding-top: 3%; }
#section_title{width: 1279px; height: 100%; font-size: 2rem; font-family: 'Varela Round'; margin: 0 auto;}
#section-title-text{color:#383736; height: 100%; font-size: 2rem; font-family: 'Varela Round'; margin:0% 10% 0% 10%}
#section-contents-wrap{width: 1279px; margin: 0 auto; }
#section_contents{border-top: 0.5rem solid #383736; min-height: 800px; margin:0% 10% 0% 10%}
.header_01_a:hover{border-bottom: 0.3rem solid #383736;}
.header_02_a:hover{border-bottom: 0.3rem solid #383736;}
.goup{width: 50px; height: 50px; position: fixed; right: 100px; bottom: 200px;}
.material-icons.md-48 { font-size: 48px; }
.mobil_menu_icon{display: none;}
@media all and (max-width:1300px){
.goup{display: none;}
}

/* log.css */
/* 검정박스부분 */
#box{width: 40%; height: 60%; margin: 0 auto; padding-top: 3%; text-align: center;font-size: 0.8rem; background-color: #383736; color: #eee; padding-bottom:3%}
.box-div{margin-top:-2%}
.input{width: 80%; height: 10%; margin: 0 auto;  border:none;} 
#box-div-text{font-size: 0.8rem; margin-top:-7%;}

/* signin-box안아이디찾기/비밀번호찾기/회원가입/아이디저장 */
.idck{display: flex; margin:0%;text-align: center; font-size: 1rem;}
.idck > input{width: 20%;}
.box-text{display: inline-block; font-size: 1rem;}
#id-text{float: left; margin-left: 10%;}
#pw-text{float: left;}
#join-text{float: right;margin-right: 10%;}

/* findid.css */
/* 검정박스부분 */
#box-name{text-align: center; font-size: 2rem; margin: 0 auto; padding-top: 2%;padding-bottom: 2%; font-weight: bolder;}
.box-div{padding:3%}
.findid-btn{background-color: #7bbc9b; color: #f2ebe5;}

/* findpw.css */
/* 컨텐츠-박스 */
/* #box{width: 40%; height: 5%; margin: 0 auto; padding-top: 3%; text-align: center;font-size: 0.5rem; background-color: #383736; color: #eee } */
.box-div{padding:3%}

/* findid_fail.css */
/* 결과 */
#foundid{ width: 40%; height: 10%; font-weight: bold;}

/* findid_success.css */
/* 찾은아이디 보여주기 */
#foundid{ width: 40%; height: 10%; font-weight: bold;}
/* 버튼 */
.fid-btn{width: 40%; height: 5%; background-color: #7bbc9b; color: #f2ebe5;}

/* findpw_fail.css */
/* 결과 */
.show-id{display: flex; width:45%; margin: 0 auto; font-size: 1.5rem; margin-top: 5%;}
#foundid{ width: 40%; height: 10%; font-weight: bold;}
/* 버튼 */
.join-btn{width: 100%;height: 5%;background-color: #3e8685; color: #f2ebe5;}


/* findpw_success.css */
/* 찾은비밀번호 보여주기 */
#foundid{ width: 40%; height: 10%; font-weight: bold;}
/* 버튼 */
.btn-set{display: flex; width: 40%; height: 3%; margin: 0 auto;justify-content: space-between; margin-top: 8%; }
.sign-btn{width: 40%;height: 5%; background-color: #3e8685; color: #f2ebe5; margin:0 auto;}

/* news_main.css */
.category{display: flex; margin-top: 2%; justify-content: space-between; width: 45%; font-size: 1.5rem;font-family:  'Varela Round'; }
.all{margin-top:1%}
.news_set{display: flex; width:100%; justify-content: space-between; margin-top: 1%; margin-bottom: 1.5%;flex-wrap: wrap; }
.news_set_box{width: 30%; margin-top: 3%; }
.news_pic{width: 100%; height: 300px; background-size: cover; background-position: center; background-repeat: no-repeat;}
.news_title{width: 100%; margin-top: 3%; font-size: 1rem; font-weight: bold; }
.news_title_a{display: inline-block;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;white-space: normal; line-height: 1.2; height: 100%; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;font-size: 20px; }
.news_memo{width: 100%; height: 32px;  margin-top: 3%;}
.recruit{display: flex; align-items: center;}
.company{display: flex; align-items: center;}
.interview{display: flex; align-items: center;}
.more-btn{width: 20%; margin:0 auto; }
.more-btn-input{background-color: #20b8bc; color:#f2ebe5; border:none;} 
.news_memo>a{ display: inline-block;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;white-space: normal; line-height: 1.2; height: 100%; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.news_cate{padding:2%;}
.news_cate >a{display: flex; align-items: center;}
.news_cate:hover{background-color: #7bbc9b; color:#f2ebe5; border-radius: 10px; }

/* news_view.css */
/* 뉴스내용 */
.news-view-title{width: 100%; height: 10%; text-align: left; color:#383736; font-size: 2rem; margin-top: 2%;}
.news-view-info-box{width: 40%; height:5%;  color:#383736; margin-top: 1%;}
.news-view-info{display: inline-block;}
.news-view-pic{ margin-top: 3%; text-align: center;}
.news-view-text{width: 100%; height: 30%;  margin-top:2%}
.tolist-btn{width: 20%; margin:0 auto; }
.tolist-btn-input{background-color: #f95427; color:#f2ebe5; border:none; margin-top: 5%;} 

/* main.css */
.main_news_set{display: flex; width:100%; justify-content: space-between; margin-top: 2%; margin-bottom: 1.5%; }

/* news_write.css */
.editor-title-text{width: 100%; text-align: center; font-family: 'Varela Round'}
.editor-title{margin:0 auto; width: 100%} 
.editer-title-input{width:100%;height: 30px; border:none;}
.save-btn{width: 15%; margin: 0 auto; }
.savebutton{background-color: #3e8685; color:#f2ebe5;}
.write-btn-set{display: flex;justify-content: space-between; width: 60%; margin: 0 auto;}
.reset-btn{width: 15%; margin: 0 auto; }
.resetbutton{background-color: #bcbcbc; color:#f2ebe5;}
.editor-writer-set{width: 100%; height: 30px; }
.editor-writer-1{height: 30px ;text-align: center; font-family: 'Varela Round';}
.editor-writer-input{width:100%;height: 30px; border:none; }
.news-write-table{width: 100%;}
.news_category{text-align: center;}


/* join */
/* FLOAT CLEARFIX */
.clearfix:after {content:""; clear:both; display:block;}
.float--left {float:left;}
.float--right {float:right;}
/* SECTION */
section {width: 100%;}
/* JOIN FORM */
/* 회원가입 테이블 */
#join_form table {width:100%; margin:0px auto;}
#join_form td {width: 70%; height: 100%; vertical-align:middle;}
#join_form th {width: 30%; height: 100%; vertical-align:middle;}
#join_form .chk-group {line-height: 3rem;}
section #join_form {width:100%; height:100%;}
section #join_form span {font-weight:700; text-align:center; font-size:1.5rem;}
:placeholder {color:#bcbcbc;}
#etc {width:43%;}
#join_form input[type='text'], #join_form input[type='password'] {width:50%; font-size:1rem; margin:0 5% 2% 0;}
/* *표시 */
.ico:after {content:'*'; color:#f95427; font-size:1rem; font-weight:700;}
/* 생년월일 */
#join_form .birth_day {overflow:hidden; width: 50%; border:0.1rem solid #ccc; font-size:1rem; margin:1% 0;}
#join_form .birth_day input[type='text'] {float:left; width: 100px; margin: 0; border: 0; text-align: center;}
#join_form .bar:after {content: "/"; float:left; width: 5%; font-size:2rem; color:#bcbcbc; line-height:3rem; text-align:center;}
.sub {margin:3% 5% 0 0;}
/* 개인정보처리방침 */
#join_form .agreeform-chk-wrap {margin-left: auto; margin-right: auto;}
#join_form .agreeform-chk-wrap {float:right; margin: 3% 15% 0 0;}
section .agreeform-wrap.top {width:100%; border:solid #bcbcbc; border-width:0.2rem 0 0.1rem;}
section .agreeform-wrap {width:50%; padding:3%;}
section .agreeform-wrap span.required {color:#bcbcbc;}
section .agreeform-wrap p.title {margin-left:-5%; margin-bottom:2%; font-size:1.5rem; font-weight:700; display:inline-block;}
section .agreeform-wrap p.text {margin-left:-6%; width:90%; height:200px; border:0.1rem solid #bcbcbc; overflow:auto;} 
/* 제출버튼 */
section div.btn-group {display:flex; align-items:center; justify-content:center;}
section .join {width:20%; box-sizing:border-box; margin-top:5%; cursor:pointer; font-size: 1.5rem; font-weight:700; margin-bottom:10%;}
#join_form input[type="reset"] {background:#bcbcbc; margin-right:10%; border:none;}
#join_form input[type="submit"] {background:#3e8685; color:#eee; border:none;}

/* BUTTON 공통 */
.btn {height: 30%; background: #eee linear-gradient(to bottom, #fcfcfc, #eee); border: 0.2rem solid #eee; display: inline-flex;
align-items: center; padding: 0 3%; font-size: 1rem; font-weight: 500; line-height: 1.5; text-align: center; cursor: pointer; box-sizing: border-box; }

/* member_update */
/* 수정완료버튼 */
section .complete-btn-wrap {display:flex; align-items:center; justify-content:center; width:100%; border-top:solid #bcbcbc; border-width:0.2rem 0 0; margin-top:5%;}
.complete-btn-wrap input[type="submit"] {background:#20b8bc; color:#eee; width:20%; box-sizing:border-box; cursor:pointer; font-size: 1.5rem; font-weight:700; display:flex; justify-content: center; align-items: center; margin: 7% 0 3%; min-height:70%;}
/* 이메일인증버튼 */
.btn.btn-confirm {margin-left:5%;}
/* 회원탈퇴버튼 */
#widthrawal {float:right; margin-top:-13%;}

/* member_delete */
/* 회원탈퇴 */
section div.delete-wrap {width:100%; font-size:1rem; text-align:center; margin:7% auto; min-height:70%;}
section i.far.fa-check-circle {font-size:5rem;}
section p.delete-title {font-size:1.8rem; font-weight:900; margin:1% 0 1%;}
section p.delete-content {font-size:1rem; font-weight:600;}

/* board_list */
/* 게시판 목록 테이블 */
.subject {width:auto; text-align:left;}
.time {width:20%;}

.writer {width:10%;}
.view-count {width:10%;}
.board-wrap table {width:100%; margin-top:-2px;}
.board-wrap td {border-top: 1px solid #bcbcbc; text-align: center; vertical-align: middle; padding:2% 0 2% 0;}
.board-wrap th {text-align:center; padding:1% 0; font-weight:900; background:#7bbc9b; color:#fcfcfc;}
.board-category {width:10%;}
/* 페이징 */
.pagination {display:flex; padding:5%;}
.pagination ul {display:inline-block; margin: 5%; justify-content: center; align-items: center;}
.pagination li {font-size:2rem;}
.pagination li:hover {color:#fcfcfc; background:#3e8685; width:3rem; height:3rem;}
.justify-content-center {justify-content: center; align-items: center;}
.ctgr {width:70px; height:30px; margin-left:10px; text-align:center; padding-top:10px; background-color:#a9daaa; color:#fcfcfc; border-radius:20px; font-weight:700;}

/* 작성하기 버튼 */
.btn-write {color:#fcfcfc; margin-bottom: 2%; height: 30%;  background:#7bbc9b; display: inline-flex; align-items: center; padding: 0 3%;
font-size: 1rem; font-weight: 700; line-height: 1.5; text-align: center; cursor: pointer; box-sizing: border-box; float:right;}
/* 더보기+버튼 */
.bottom {padding: 5% 0;}

/* board_view */
/* 게시판 말머리 */
.board-view-title-box {display:flex; padding-top:20px; color:#383736; font-size:2rem; font-weight:700;}
.board-view-category {text-align: left;}
.board-view-category:before {content:"[";}
.board-view-category:after {content:"]";}
.board-view-title {width: auto; text-align: left; color:#383736; font-size: 2rem; margin-top: 2%;}
.board-view-info-box {width: 100%; height:5%;  color:#bcbcbc; margin-top: 1%; font-weight:600;}
.board-view-info {display: inline-block; width:auto;}
.board-view-pic {margin-top: 3%; text-align: center;}
.board-view-text {width: 100%; height:600px; margin-top:2%;}
.board-btn-set1 {display:flex; width:100%; font-weight:700;}
.board-btn-set2 {margin-left: 215px;}
.listbutton {display:inline-block; padding:15px 30px; margin-left:50%; background-color:#3e8685; color:#f2ebe5; }
.deletebutton {display:inline-block; padding:15px 30px; background-color:#bcbcbc; color:#f2ebe5;}
.updatebutton {display:inline-block; padding:15px 30px; margin-right: 20px; background-color:#7bbc9b; color:#f2ebe5;}

/* mypage_main */
.mypage-title {font-size:1.5rem; font-weight:600; margin-bottom:1.5%;}
.mypage-title-total {font-size:1.5rem; font-weight:600;}
/* 회원정보수정/삭제 */
.member-update-delete {display:inline-block; font-size:1.5rem; font-weight:400; margin-right: 10%;}
/* 내 글 보기 */
.board-wrap {width:100%;}
.board-contents {margin-top:1.5%;}
.myboard {width:100%; margin-top:1.5%; padding-bottom:3%;}


/* 책갈피 */
/* .bookmark-wrap {width:100%; height:450px; border:1px solid #fcfcfc; margin-top:3%;}
.bookmark-contents {width:100%; height:400px; border:1px solid #383736; margin-top:5%;} */


/* notice_list_admin/user */
/* 아코디언 목록 */
.accordion_container {width: 100%; height:auto;}
.accordion_head {color: #383736;cursor: pointer;margin: 0 0 1px 0; padding: 20px 11px 20px;font-weight: bold;}
.accordion_body {height:auto; background: lightgray;}
.accordion_body p {width: 80%; padding: 30px 10px; margin: 0px; text-align:center;}
#plus {float: right;}
 
/* notice_list_admin */
.new-icon {width:70px; height:30px; text-align:center; padding-top:5px; background-color:#a9daaa; color:#fcfcfc; border-radius:20px;}
.btncustom {color:#fcfcfc; height: 30%; display: inline-flex; align-items: center; padding: 0 3%; font-size: 1rem; font-weight: 700; line-height: 1.5; text-align: center; cursor: pointer; box-sizing: border-box; margin:0 20px 20px 0;}
.delete-btn {background-color:#bcbcbc;}
.update-btn {background-color:#7bbc9b;}
.title-wrap1 {display:inline-block;}
.title-wrap2 {display:flex; margin:10px 0 0 10px;}
.notice-title {text-align:left; margin-left:10px;}
.notice-category {width:auto; }
.notice-category:after {content:'|'; color:#bcbcbc;}
.notice-date {width:auto;}
.accordion_body p {margin-left:85px; text-align:left;}
.accordion_head.normal {margin-left:70px;}

/* meetup_main.html */
/* 월별카테고리 */
.month{display: flex; flex-direction: row; justify-content: space-between; font-size: 1.5rem; margin:1% 10% 1% 10%; }
.meetup-line{ width: 80%; margin:1% 10% 1% 10%; border-top: 0.5rem solid #383736;}
.month>li:hover{background-color:#383736 ; color:#fcfcfc}
.interview:hover{background-color:#7bbc9b; color:#fcfcfc ;}
.company:hover{background-color:#7bbc9b; color:#fcfcfc ;}
.recruit:hover{background-color:#7bbc9b; color:#fcfcfc ;}
.all:hover{background-color:#7bbc9b; color:#fcfcfc ;}

/* news_main_admin.html */
/* 관리자용"뉴스작성버튼추가" */
.more-btn-news{display: flex; flex-direction: row; width: 40%; justify-content: space-between; margin: 0 auto;}
.news-write-btn{background-color:  #7bbc9b; color: #fcfcfc;} 