/* 컨텐츠-박스 */
#box{width: 40%; height: 5%; margin: 0 auto; padding-top: 3%; text-align: center;font-size: 0.5rem; background-color: #383736; color: #eee }
#box-name{text-align: center; font-size: 2rem; margin: 0 auto; padding-top: 2%;padding-bottom: 2%;}
.box-div{padding:3%}
.input{width: 80%; height: 10%; margin: 0 auto;}
#box-div-text{font-size: 0.9rem;}


