
.ellipsis-2 { /* 한 줄 자르기 */ display: inline-block;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */ white-space: normal; line-height: 1.2; height: 100%; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.board-view-category,.board-view-info{font-size : 1.3rem;}
.board-view-text{padding: 20px; font-size: 1.1rem; box-sizing: border-box;}
.news_pic a{display: block; width: 100%; height: 100%;}
.news_pic {background-image: url('/Cit/images/logo.png');}
.null_msg {height: 500px; font-size: 2rem; font-weight: bold; display: flex; align-items:center; justify-content: center; width: 100%;}
#section_title.main-section-title {border-bottom : 3px solid #000; margin-bottom : 2px; width: 100%;}
#section_title.main-section-title h1 {margin : 0;} 